################################################################################
# .gitignore
################################################################################

# Compiler, Linker, Debugger
src/*.idb
src/*.pdb
src/*.pch

# Visual Studio
*.suo
*.user
*.vcxproj.filters
*.vcxproj.user
*.sdf
*.VC.db
*.opensdf
src/*.aps

# Operating System
*.lnk
Thumbs.db
Desktop.ini

# Directories
.vs/
.vscode/
[Dd]ebug/
[Rr]elease/
TestLib/
/AlansBackups/Toolbox164j
/AlansBackups/Toolbox164kIncr
/AlansBackups/Toolbox164qIncr
/AlansBackups/Toolbox164rIncr
/AlansBackups/Toolbox164sIncr
/AlansBackups/Toolbox/Install
/AlansBackups/Toolbox/Copy of Release_U
/AlansBackups/Toolbox/MacWineRelease
