################################################################################
# .gitignore
################################################################################

*.suo
*.user
*.lnk
.vs/
.vscode/
[Dd]ebug/
[Rr]elease/
TestLib/

/src/shw.cpp
/src/SHW32.idb
/src/shw32.pdb
/src/Shwnotes.aps
/src/Toolbox.sdf
/src/Toolbox.vcxproj.filters

/AlansBackups/Toolbox164j
/AlansBackups/Toolbox164kIncr
/AlansBackups/Toolbox164qIncr
/AlansBackups/Toolbox164rIncr
/AlansBackups/Toolbox164sIncr
/AlansBackups/Toolbox/Install
/AlansBackups/Toolbox/Copy of Release_U
/AlansBackups/Toolbox/MacWineRelease
